<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Детали корабля</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h2 th:text="${boat.name}">Название корабля</h2>
    <div>Тип поездки: <span th:text="${boat.tripType}"></span></div>
    <div>Выбранное время: <span th:text="${selectedTime != null ? selectedTime.time : 'не выбрано'}"></span></div>

    <h3>Места и бронирования</h3>
    <div th:each="seat : ${boat.places}">
        <div>Место №<span th:text="${seat.seatNumber}"></span>:</div>
        <div th:if="${seat.bookings}">

            <div th:each="booking : ${seat.bookings}">
                <div th:if="${selectedTime != null and booking.bookingTime == selectedTime}">
                    Бронирование:
                    <ul>
                        <li>Дата: <span th:text="${booking.date}"></span>,</li>
                        <li>Время: <span th:text="${booking.bookingTime}"></span></li>
                    </ul>
                </div>

            </div>
            <div th:unless="${#lists.isEmpty(seat.bookings)}">
                <form th:action="@{/booking/process-booking}" method="get">
                    <input type="hidden" name="seatId" th:value="${seat.id}" />
                    <input type="hidden" name="time" th:value="${selectedTime}" />
                    <button type="submit" class="btn btn-primary">Бронировать</button>
                </form>
            </div>

        </div>
        <div th:each="booking : ${seat.bookings}" th:if="${selectedTime != null}">
            <div
                    th:if="${booking.bookingTime.toString().equals(selectedTime)}">
            </div>
        </div>
    </div>

</div>
</body>
</html>
