<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Выбор корабля и времени</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h2>Выбор корабля и времени</h2>
    <form th:action="@{/boats/process-selection}" method="get">
        <div class="form-group">
            <label for="boatId">Корабль</label>
            <select id="boatId" name="boatId" class="form-control">
                <option th:each="boat : ${boats}" th:value="${boat.id}" th:text="${boat.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="time">Время</label>
            <select id="time" name="time" class="form-control">
                <option th:each="time : ${T(di.enums.BookingTime).values()}"
                        th:value="${time.time}"
                        th:text="${time.time}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Показать детали</button>
    </form>
</div>
</body>
</html>
